.category-container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    background-color: white;
    padding: 0.5rem 2.5rem;
    border-bottom: 2px solid #ccc;
}
.category {
    background-color: rgb(232, 244, 255);
    font-size: 12px;
    padding: 0.4rem 0.8rem;
    margin: 0.5rem;
    border-radius: 2rem;
    flex: 0 0 auto; 
}

.c {
    background-color: #008ecc;  
    color: white;
}

.productCard {
    padding: 10px;
    margin: 6px;
    width: 180px;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(255, 253, 253);
}

.productCardContainer {
    padding: 1rem 2rem;
    margin: 0.5rem;
    background-color: rgb(255, 252, 252);
    margin-bottom: 0.5rem;
}

.card-cont {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishIcon {
  
    cursor: pointer;
    float: right;
}

.active-wish-icon {
    color: red;
  }

.productImage {
    object-fit: cover;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.banner {
    display: none;
}

.loading-animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
    

@media screen and (max-width:450px) {
    .category-container {
        margin: 0;
        padding: 0.25rem;
        overflow-x: scroll;
    }

    .shopImage {
        height: 2rem;
    }
    .catlabel {
        font-size: 10px;
    }

    .productCard {
        width: 150px;
    }

    .addToCart {
        margin-right: 2rem;
        
    }
    .text {
        font-size: 0;
        color: transparent;
    }
    .productImage {
        height: 5rem;
    }

    .discount-img {
        display: none;
    }
    .banner{
        display: block;
        margin: 0.3rem 0;
    }

    .productCardContainer {
        padding: 1rem;
    }
}
